# WEB SCRAPING

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = "https://www.moneycontrol.com/india/stockpricequote/"

In [3]:
page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')

### Getting Links

In [4]:
import re

In [5]:
links = []
for i in soup.find_all("tr"):
    for j in i:
        link = re.findall(r"href=(.*)\stitle",str(j))
        if link:
            links.append(link)

In [6]:
links = links[1:] # 0th element was trash

In [7]:
len(links)

471

In [8]:
links[:3]

[['"https://www.moneycontrol.com/india/stockpricequote/diversified/3mindia/MI42"'],
 ['"https://www.moneycontrol.com/india/stockpricequote/pharmaceuticals/aartidrugs/AD"'],
 ['"https://www.moneycontrol.com/india/stockpricequote/chemicals/aartiindustries/AI45"']]

In [9]:
Links = []
for i in links:
    Links.append(i[0][1:-1])

In [10]:
Links[:3]

['https://www.moneycontrol.com/india/stockpricequote/diversified/3mindia/MI42',
 'https://www.moneycontrol.com/india/stockpricequote/pharmaceuticals/aartidrugs/AD',
 'https://www.moneycontrol.com/india/stockpricequote/chemicals/aartiindustries/AI45']

In [11]:
len(Links)

471

### Company Name

In [12]:
page = requests.get(Links[0])
soup = BeautifulSoup(page.text, 'lxml')
divs = soup.find('div', {'class' : 'inid_name'})
divs.find('h1').text

'3M India Ltd.'

In [13]:
Company_Name = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find('div', {'class' : 'inid_name'})
    company_name = divs.find('h1').text
    Company_Name.append(company_name)

### Sector

In [14]:
page = requests.get(Links[0])
soup = BeautifulSoup(page.text, 'lxml')
divs = soup.find('div', {'class' : 'inid_name'})
divs.find('span').find('strong').find('a').text.strip('\n ')

'Diversified'

In [15]:
Sector = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find('div', {'class' : 'inid_name'})
    sector = divs.find('span').find('strong').find('a').text.strip('\n ')
    Sector.append(sector)

### Share Name

In [16]:
Share_Name = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    try:
        ul = soup.find_all('ul', {'class' : 'comdetl'})[2]
        share_name = ul.find_all('li', {'class' : 'clearfix'})[-3].text.split('\n')[1]
    except IndexError:
        share_name = 'NA'
    Share_Name.append(share_name)

### Current Price

In [17]:
Current_Price = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    try:
        divs = soup.find('div', {'class' : 'inprice1 nsecp'})
        current_price = divs.text
    except AttributeError:
        current_price = 'NA'
    Current_Price.append(current_price)

### Price Change

In [18]:
Price_Change = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    try:
        try:
            divs = soup.find('div', {'class' : 'pricupdn nsechange grn'})
            price_change = divs.text.split()[0]
        except AttributeError:
            divs = soup.find('div', {'class' : 'pricupdn nsechange red'})
            price_change = divs.text.split()[0]
    except AttributeError:
        price_change = 'NA'
    Price_Change.append(price_change)

### Percentage Change

In [19]:
Percentage_Change = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    try:
        try:
            divs = soup.find('div', {'class' : 'pricupdn nsechange grn'})
            percentage_change = divs.text.split()[1].strip('()')
        except AttributeError:
            divs = soup.find('div', {'class' : 'pricupdn nsechange red'})
            percentage_change = divs.text.split()[1].strip('()')
    except AttributeError:
        price_change = 'NA'
    Percentage_Change.append(percentage_change)

### Opening Price

In [20]:
page = requests.get(Links[0])
soup = BeautifulSoup(page.text, 'lxml')
divs = soup.find('div', {'class' : 'oview_table'})
divs.find('table').find('tbody').find('tr').find('td',{'class':'nseopn bseopn'}).text

'19,900.00'

In [21]:
Opening_Price = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find('div', {'class' : 'oview_table'})
    opening_price = divs.find('table').find('tbody').find('td',{'class':'nseopn bseopn'}).text
    Opening_Price.append(opening_price)

### Previous Close

In [22]:
Previous_Close = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find('div', {'class' : 'oview_table'})
    previous_close = divs.find('table').find('tbody').find('td',{'class':'nseprvclose bseprvclose'}).text
    Previous_Close.append(previous_close)

### Volume

In [23]:
Volume = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find('div', {'class' : 'oview_table'})
    volume = divs.find('table').find('tbody').find('td',{'class':'nsevol bsevol'}).text
    Volume.append(volume)

### High

In [24]:
High = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find_all('div', {'class' : 'oview_table'})
    high = divs[1].find('table').find('tbody').find('td',{'class':'nseHP bseHP'}).text
    High.append(high)

### Low

In [25]:
Low = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find_all('div', {'class' : 'oview_table'})
    low = divs[1].find('table').find('tbody').find('td',{'class':'nseLP bseLP'}).text
    Low.append(low)

### Upper Circuit

In [26]:
Upper_Circuit = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find_all('div', {'class' : 'oview_table'})
    upper_circuit = divs[1].find('table').find('tbody').find('td',{'class':'nseupper_circuit_limit bseupper_circuit_limit'}).text
    Upper_Circuit.append(upper_circuit)

### Lower Circuit

In [27]:
Lower_Circuit = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find_all('div', {'class' : 'oview_table'})
    lower_circuit = divs[1].find('table').find('tbody').find('td',{'class':'nselower_circuit_limit bselower_circuit_limit'}).text
    Lower_Circuit.append(lower_circuit)

### 52 Week High

In [28]:
High_52 = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find_all('div', {'class' : 'oview_table'})
    high_52 = divs[1].find('table').find('tbody').find('td',{'class':'nseH52 bseH52'}).text
    High_52.append(high_52)

### 52 Week Low

In [29]:
Low_52 = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find_all('div', {'class' : 'oview_table'})
    low_52 = divs[1].find('table').find('tbody').find('td',{'class':'nseL52 bseL52'}).text
    Low_52.append(low_52)

### Face Value

In [30]:
Face_Value = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find_all('div', {'class' : 'oview_table'})
    face_value = divs[2].find('table').find('tbody').find('td',{'class':'nsefv bsefv'}).text
    Face_Value.append(face_value)

### Market Capital

In [31]:
Market_Capital = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    divs = soup.find_all('div', {'class' : 'oview_table'})
    market_capital = divs[3].find('table').find('tbody').find('td',{'class':'nsemktcap bsemktcap'}).text
    Market_Capital.append(market_capital)

### State (Registered Office)

In [32]:
State = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    try:
        li = soup.find_all('li', {'class' : 'clearfix'})
        state = li[15].text.split('\n')[1]
    except AttributeError:
        state = 'NA'
    State.append(state)

### Website

In [33]:
Website = []
for link in Links:
    page = requests.get(link)
    soup = BeautifulSoup(page.text, 'lxml')
    try:
        ul = soup.find_all('ul', {'class' : 'comdetl'})[1]
        website = ul.find_all('li', {'class' : 'clearfix'})[-1].text.split('\n')[1]
    except IndexError:
        website = 'NA'
    Website.append(website)

### DATAFRAME

In [34]:
import numpy as np
import pandas as pd

In [35]:
Stocks = pd.DataFrame()
Stocks

Empty DataFrame
Columns: []
Index: []

In [36]:
Stocks['Company_Name'] = Company_Name
Stocks['Sector'] = Sector
Stocks['Share_Name'] = Share_Name
Stocks['Current_Price'] = Current_Price
Stocks['Price_Change'] = Price_Change
Stocks['Percentage_Change'] = Percentage_Change
Stocks['Opening_Price'] = Opening_Price
Stocks['Previous_Close'] = Previous_Close
Stocks['Volume'] = Volume
Stocks['High'] = High
Stocks['Low'] = Low
Stocks['Upper_Circuit'] = Upper_Circuit
Stocks['Lower_Circuit'] = Lower_Circuit
Stocks['High_52'] = High_52
Stocks['Low_52'] = Low_52
Stocks['Face_Value'] = Face_Value
Stocks['Market_Capital'] = Market_Capital
Stocks['State'] = State
Stocks['Website'] = Website

In [37]:
Stocks.head()

,Company_Name,Sector,Share_Name,Current_Price,Price_Change,Percentage_Change,Opening_Price,Previous_Close,Volume,High,Low,Upper_Circuit,Lower_Circuit,High_52,Low_52,Face_Value,Market_Capital,State,Website
0,3M India Ltd.,Diversified,3MINDIA,"20,026.75",347.60,1.77%,"19,900.00","19,679.15","12,906.00","20,249.80","19,738.75","23,614.95","15,743.35","31,000.00","19,433.75",10.00,"22,560",Karnataka,http://www.kfintech.com
1,Aarti Drugs Ltd.,Pharmaceuticals,AARTIDRUGS,454.85,6.25,1.39%,450.00,448.60,"137,244.00",463.60,450.00,538.30,358.90,841.80,437.35,10.00,"4,212",Maharashtra,http://www.linkintime.co.in
2,Aarti Industries Ltd.,Chemicals,AARTIIND,891.60,32.15,3.74%,875.00,859.45,"1,550,992.00",898.55,868.50,945.35,773.55,"1,168.00",596.28,5.00,"32,321",Gujarat,http://www.linkintime.co.in
3,AAVAS Financiers Ltd.,Finance - General,AAVAS,"2,489.85",46.60,1.91%,"2,475.00","2,443.25","142,815.00","2,506.65","2,400.05","2,931.90","1,954.60","3,340.00","2,124.15",10.00,"19,654",Rajasthan,http://www.linkintime.co.in
4,Aditya Birla Capital Ltd.,Finance - Investments,ABCAPITAL,109.85,1.30,1.20%,110.00,108.55,"4,259,155.00",110.85,108.00,119.40,97.70,139.20,96.35,10.00,"26,543",Gujarat,http://www.kfintech.com

### About Dataframe

In [38]:
Stocks.shape

(471, 19)

In [39]:
Stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company_Name       471 non-null    object
 1   Sector             471 non-null    object
 2   Share_Name         471 non-null    object
 3   Current_Price      471 non-null    object
 4   Price_Change       471 non-null    object
 5   Percentage_Change  471 non-null    object
 6   Opening_Price      471 non-null    object
 7   Previous_Close     471 non-null    object
 8   Volume             471 non-null    object
 9   High               471 non-null    object
 10  Low                471 non-null    object
 11  Upper_Circuit      471 non-null    object
 12  Lower_Circuit      471 non-null    object
 13  High_52            471 non-null    object
 14  Low_52             471 non-null    object
 15  Face_Value         471 non-null    object
 16  Market_Capital     471 non-null    object
 17  State              471 non-null    object
 18  Website            471 non-null    object
dtypes: object(19)
memory usage: 70.0+ KB

### Converting to CSV Format

In [40]:
Stocks.head()

,Company_Name,Sector,Share_Name,Current_Price,Price_Change,Percentage_Change,Opening_Price,Previous_Close,Volume,High,Low,Upper_Circuit,Lower_Circuit,High_52,Low_52,Face_Value,Market_Capital,State,Website
0,3M India Ltd.,Diversified,3MINDIA,"20,026.75",347.60,1.77%,"19,900.00","19,679.15","12,906.00","20,249.80","19,738.75","23,614.95","15,743.35","31,000.00","19,433.75",10.00,"22,560",Karnataka,http://www.kfintech.com
1,Aarti Drugs Ltd.,Pharmaceuticals,AARTIDRUGS,454.85,6.25,1.39%,450.00,448.60,"137,244.00",463.60,450.00,538.30,358.90,841.80,437.35,10.00,"4,212",Maharashtra,http://www.linkintime.co.in
2,Aarti Industries Ltd.,Chemicals,AARTIIND,891.60,32.15,3.74%,875.00,859.45,"1,550,992.00",898.55,868.50,945.35,773.55,"1,168.00",596.28,5.00,"32,321",Gujarat,http://www.linkintime.co.in
3,AAVAS Financiers Ltd.,Finance - General,AAVAS,"2,489.85",46.60,1.91%,"2,475.00","2,443.25","142,815.00","2,506.65","2,400.05","2,931.90","1,954.60","3,340.00","2,124.15",10.00,"19,654",Rajasthan,http://www.linkintime.co.in
4,Aditya Birla Capital Ltd.,Finance - Investments,ABCAPITAL,109.85,1.30,1.20%,110.00,108.55,"4,259,155.00",110.85,108.00,119.40,97.70,139.20,96.35,10.00,"26,543",Gujarat,http://www.kfintech.com

In [41]:
Stocks.to_csv('WebScraping.csv')